techytax-web/src/main/java/org/techytax/ws/Statusinformatieservice_Digipoort_WUS 2.0 Bedrijven_v1.2_prod.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:tns="http://logius.nl/digipoort/wus/2.0/statusinformatieservice/1.2/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:kv="http://logius.nl/digipoort/koppelvlakservices/1.2/" targetNamespace="http://logius.nl/digipoort/wus/2.0/statusinformatieservice/1.2/">
	<wsdl:documentation>
		TLS of SSL 3 met:

		TLS_DHE_RSA_WITH_AES_128_CBC_SHA 
		TLS_RSA_WITH_AES_128_CBC_SHA
		TLS_RSA_WITH_AES_256_CBC_SHA
		TLS_DHE_RSA_WITH_AES_256_CBC_SHA
		TLS_RSA_WITH_3DES_EDE_CBC_SHA
		SSL_RSA_WITH_AES_128_CBC_SHA

		Elementen:
 
		Het is niet toegestaan eigen header velden toe te voegen aan het bericht.

		Timestamp
		http://docs.oasis-open.org/wss/2004/01/oasis-200401-wsswssecurity-utility-1.0.xsd
		wsu:Timestamp
		wsu:Created is verplicht
		wsu:Expires is optioneel

		WS-Adressing: 
		http://www.w3.org/2006/05/addressing/wsdl

		Request:

		wsa:To
		gelijk aan het endpoint van de service

		wsa:Action
        is gelijk aan de soapAction behorende bij de SOAP operatie.       

		wsa:MessageID
		voldoen aan :
		http://www.w3.org/TR/2007/REC-ws-addr-metadata-20070904/

		wsa:ReplyTo
		optioneel, indien gevuld moet deze de volgende waarde hebben: 
		http://www.w3.org/2005/08/addressing/anonymous

		Response:

		wsa:To
		http://www.w3.org/2005/08/addressing/anonymous

		wsa:Action
        is gelijk aan de wsaw:Action behorende bij de SOAP response.       
       
		wsa:MessageID
		voldoen aan :
		http://www.w3.org/TR/2007/REC-ws-addr-metadata-20070904/

		wsa:RelatesTo
		voldoen aan : http://www.w3.org/TR/2007/REC-ws-addr-metadata-20070904/
		Is hetzelfde ID zijn als in de request.

		Overige headers mogen alleen
		voorkomen met waarde:
		http://www.w3.org/2005/08/addressing/anonymous
		http://www.w3.org/2005/08/addressing/none

		Digitale handtekening:
		http://www.w3.org/2000/09/xmldsig#

		Canonicalization
		http://www.w3.org/2001/10/xml-exc-c14n#

		Digest
		http://www.w3.org/2000/09/xmldsig#sha1

		Signature
		http://www.w3.org/2000/09/xmldsig#rsa-sha1

		De volgende elementen dienen ondertekend worden:
		- het element timestamp
		- alle ws adressing elementen
		- de body.

		Het gebruikte x.509 certificaat moet als binary security token meegeleverd worden.
		http://docs.oasis-open.org/wss/2004/01/oasis-200401-wsswssecurity-secext-1.0.xsd

		wsse:BinarySecurityToken
		Encoding
		http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-soapmessage-security-1.0#Base64Binary
		Value
		http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-x509-tokenprofile-1.0#X509v3

	</wsdl:documentation>
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
			<xsd:import namespace="http://logius.nl/digipoort/koppelvlakservices/1.2/" schemaLocation="../digipoort-koppelvlak-1.2.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="getBerichtsoortenMessageRequest">
		<wsdl:part name="getBerichtsoortenRequest" element="kv:getBerichtsoortenRequest"/>
	</wsdl:message>
	<wsdl:message name="getBerichtsoortenMessageResponse">
		<wsdl:part name="getBerichtsoortenResponse" element="kv:getBerichtsoortenResponse"/>
	</wsdl:message>
	<wsdl:message name="getProcessenMessageRequest">
		<wsdl:part name="getProcessenRequest" element="kv:getProcessenRequest"/>
	</wsdl:message>
	<wsdl:message name="getProcessenMessageResponse">
		<wsdl:part name="getProcessenResponse" element="kv:getProcessenResponse"/>
	</wsdl:message>
	<wsdl:message name="getStatussenProcesMessageRequest">
		<wsdl:part name="getStatussenProcesRequest" element="kv:getStatussenProcesRequest"/>
	</wsdl:message>
	<wsdl:message name="getStatussenProcesMessageResponse">
		<wsdl:part name="getStatussenProcesResponse" element="kv:getStatussenProcesResponse"/>
	</wsdl:message>
	<wsdl:message name="getNieuweStatussenProcesMessageRequest">
		<wsdl:part name="getNieuweStatussenProcesRequest" element="kv:getNieuweStatussenProcesRequest"/>
	</wsdl:message>
	<wsdl:message name="getNieuweStatussenProcesMessageResponse">
		<wsdl:part name="getNieuweStatussenProcesResponse" element="kv:getNieuweStatussenProcesResponse"/>
	</wsdl:message>
	<wsdl:message name="getNieuweStatussenMessageRequest">
		<wsdl:part name="getNieuweStatussenRequest" element="kv:getNieuweStatussenRequest"/>
	</wsdl:message>
	<wsdl:message name="getNieuweStatussenMessageResponse">
		<wsdl:part name="getNieuweStatussenResponse" element="kv:getNieuweStatussenResponse"/>
	</wsdl:message>
	<wsdl:message name="StatusinformatieServiceFault">
		<wsdl:part name="fault" element="kv:statusinformatieFault"/>
	</wsdl:message>
	<wsdl:portType name="StatusinformatieService_V1_2">
		<wsdl:operation name="getBerichtsoorten">
			<wsdl:input name="getBerichtsoortenRequest" message="tns:getBerichtsoortenMessageRequest"/>
			<wsdl:output name="getBerichtsoortenResponse" message="tns:getBerichtsoortenMessageResponse" wsaw:Action="http://logius.nl/digipoort/wus/2.0/statusinformatieservice/1.2/StatusinformatieService/getBerichtsoortenResponse"/>
			<wsdl:fault name="statusinformatieServiceFault" message="tns:StatusinformatieServiceFault" wsaw:Action="http://logius.nl/digipoort/wus/2.0/statusinformatieservice/1.2/StatusinformatieService/getBerichtsoorten/Fault/"/>
		</wsdl:operation>
		<wsdl:operation name="getProcessen">
			<wsdl:input name="getProcessenRequest" message="tns:getProcessenMessageRequest"/>
			<wsdl:output name="getProcessenResponse" message="tns:getProcessenMessageResponse" wsaw:Action="http://logius.nl/digipoort/wus/2.0/statusinformatieservice/1.2/StatusinformatieService/getProcessenResponse"/>
			<wsdl:fault name="statusinformatieServiceFault" message="tns:StatusinformatieServiceFault" wsaw:Action="http://logius.nl/digipoort/wus/2.0/statusinformatieservice/1.2/StatusinformatieService/getProcessen/Fault/"/>
		</wsdl:operation>
		<wsdl:operation name="getStatussenProces">
			<wsdl:input name="getStatussenProcesRequest" message="tns:getStatussenProcesMessageRequest"/>
			<wsdl:output name="getStatussenProcesResponse" message="tns:getStatussenProcesMessageResponse" wsaw:Action="http://logius.nl/digipoort/wus/2.0/statusinformatieservice/1.2/StatusinformatieService/getStatussenProcesResponse"/>
			<wsdl:fault name="statusinformatieServiceFault" message="tns:StatusinformatieServiceFault" wsaw:Action="http://logius.nl/digipoort/wus/2.0/statusinformatieservice/1.2/StatusinformatieService/getStatussenProces/Fault/"/>
		</wsdl:operation>
		<wsdl:operation name="getNieuweStatussenProces">
			<wsdl:input name="getNieuweStatussenProcesRequest" message="tns:getNieuweStatussenProcesMessageRequest"/>
			<wsdl:output name="getNieuweStatussenProcesResponse" message="tns:getNieuweStatussenProcesMessageResponse" wsaw:Action="http://logius.nl/digipoort/wus/2.0/statusinformatieservice/1.2/StatusinformatieService/getNieuweStatussenProcesResponse"/>
			<wsdl:fault name="statusinformatieServiceFault" message="tns:StatusinformatieServiceFault" wsaw:Action="http://logius.nl/digipoort/wus/2.0/statusinformatieservice/1.2/StatusinformatieService/getNieuweStatussenProces/Fault/"/>
		</wsdl:operation>
		<wsdl:operation name="getNieuweStatussen">
			<wsdl:input name="getNieuweStatussenRequest" message="tns:getNieuweStatussenMessageRequest"/>
			<wsdl:output name="getNieuweStatussenResponse" message="tns:getNieuweStatussenMessageResponse" wsaw:Action="http://logius.nl/digipoort/wus/2.0/statusinformatieservice/1.2/StatusinformatieService/getNieuweStatussenResponse"/>
			<wsdl:fault name="statusinformatieServiceFault" message="tns:StatusinformatieServiceFault" wsaw:Action="http://logius.nl/digipoort/wus/2.0/statusinformatieservice/1.2/StatusinformatieService/getNieuweStatussen/Fault/"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="StatusinformatieServiceSoapBinding_V1_2" type="tns:StatusinformatieService_V1_2">
		<soap11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsp:PolicyReference URI="#X509EndpointPolicy"/>
		<wsdl:operation name="getBerichtsoorten">
			<soap11:operation soapAction="http://logius.nl/digipoort/wus/2.0/statusinformatieservice/1.2/StatusinformatieService/getBerichtsoortenRequest"/>
			<wsdl:input name="getBerichtsoortenRequest">
				<soap11:body use="literal"/>
				<wsp:PolicyReference URI="#SecureMessagePolicy"/>
			</wsdl:input>
			<wsdl:output name="getBerichtsoortenResponse">
				<soap11:body use="literal"/>
				<wsp:PolicyReference URI="#SecureMessagePolicy"/>
			</wsdl:output>
			<wsdl:fault name="statusinformatieServiceFault">
				<soap11:fault name="statusinformatieServiceFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getProcessen">
			<soap11:operation soapAction="http://logius.nl/digipoort/wus/2.0/statusinformatieservice/1.2/StatusinformatieService/getProcessenRequest"/>
			<wsdl:input name="getProcessenRequest">
				<soap11:body use="literal"/>
				<wsp:PolicyReference URI="#SecureMessagePolicy"/>
			</wsdl:input>
			<wsdl:output name="getProcessenResponse">
				<soap11:body use="literal"/>
				<wsp:PolicyReference URI="#SecureMessagePolicy"/>
			</wsdl:output>
			<wsdl:fault name="statusinformatieServiceFault">
				<soap11:fault name="statusinformatieServiceFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getStatussenProces">
			<soap11:operation soapAction="http://logius.nl/digipoort/wus/2.0/statusinformatieservice/1.2/StatusinformatieService/getStatussenProcesRequest"/>
			<wsdl:input name="getStatussenProcesRequest">
				<soap11:body use="literal"/>
				<wsp:PolicyReference URI="#SecureMessagePolicy"/>
			</wsdl:input>
			<wsdl:output name="getStatussenProcesResponse">
				<soap11:body use="literal"/>
				<wsp:PolicyReference URI="#SecureMessagePolicy"/>
			</wsdl:output>
			<wsdl:fault name="statusinformatieServiceFault">
				<soap11:fault name="statusinformatieServiceFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getNieuweStatussenProces">
			<soap11:operation soapAction="http://logius.nl/digipoort/wus/2.0/statusinformatieservice/1.2/StatusinformatieService/getNieuweStatussenProcesRequest"/>
			<wsdl:input name="getNieuweStatussenProcesRequest">
				<soap11:body use="literal"/>
				<wsp:PolicyReference URI="#SecureMessagePolicy"/>
			</wsdl:input>
			<wsdl:output name="getNieuweStatussenProcesResponse">
				<soap11:body use="literal"/>
				<wsp:PolicyReference URI="#SecureMessagePolicy"/>
			</wsdl:output>
			<wsdl:fault name="statusinformatieServiceFault">
				<soap11:fault name="statusinformatieServiceFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="getNieuweStatussen">
			<soap11:operation soapAction="http://logius.nl/digipoort/wus/2.0/statusinformatieservice/1.2/StatusinformatieService/getNieuweStatussenRequest"/>
			<wsdl:input name="getNieuweStatussenRequest">
				<soap11:body use="literal"/>
				<wsp:PolicyReference URI="#SecureMessagePolicy"/>
			</wsdl:input>
			<wsdl:output name="getNieuweStatussenResponse">
				<soap11:body use="literal"/>
				<wsp:PolicyReference URI="#SecureMessagePolicy"/>
			</wsdl:output>
			<wsdl:fault name="statusinformatieServiceFault">
				<soap11:fault name="statusinformatieServiceFault" use="literal"/>
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="StatusinformatieService_V1_2">
		<wsdl:port name="StatusinformatieService_V1_2" binding="tns:StatusinformatieServiceSoapBinding_V1_2">
			<soap11:address location="https://www.procesinfrastructuur.nl/wus/2.0/statusinformatieservice/1.2"/>
		</wsdl:port>
	</wsdl:service>
	<wsp:Policy wsu:Id="X509EndpointPolicy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:AsymmetricBinding>
					<wsp:Policy>
						<sp:InitiatorToken>
							<wsp:Policy>
								<sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
									<wsp:Policy>
										<sp:WssX509V3Token10/>
									</wsp:Policy>
								</sp:X509Token>
							</wsp:Policy>
						</sp:InitiatorToken>
						<sp:RecipientToken>
							<wsp:Policy>
								<sp:X509Token sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToInitiator">
									<wsp:Policy>
										<sp:WssX509V3Token10/>
									</wsp:Policy>
								</sp:X509Token>
							</wsp:Policy>
						</sp:RecipientToken>
						<sp:AlgorithmSuite>
							<wsp:Policy>
								<sp:Basic128Rsa15/>
								<sp:Basic256Rsa15/>
								<sp:TripleDesRsa15/>
							</wsp:Policy>
						</sp:AlgorithmSuite>
						<sp:IncludeTimestamp/>
						<sp:EncryptBeforeSigning/>
						<sp:OnlySignEntireHeadersAndBody/>
					</wsp:Policy>
				</sp:AsymmetricBinding>
				<wsam:Addressing>
					<wsp:Policy>
						<wsp:ExactlyOne>
							<wsp:All>
								<wsam:Anonymous>required</wsam:Anonymous>
							</wsp:All>
							<wsp:All>
								<AnonymousResponses/>
							</wsp:All>
						</wsp:ExactlyOne>
					</wsp:Policy>
				</wsam:Addressing>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
	<wsp:Policy wsu:Id="SecureMessagePolicy">
		<wsp:ExactlyOne>
			<wsp:All>
				<sp:SignedParts>
					<sp:Body/>
					<sp:Header Name="To" Namespace="http://www.w3.org/2005/08/addressing"/>
					<sp:Header Name="From" Namespace="http://www.w3.org/2005/08/addressing"/>
					<sp:Header Name="FaultTo" Namespace="http://www.w3.org/2005/08/addressing"/>
					<sp:Header Name="ReplyTo" Namespace="http://www.w3.org/2005/08/addressing"/>
					<sp:Header Name="MessageID" Namespace="http://www.w3.org/2005/08/addressing"/>
					<sp:Header Name="RelatesTo" Namespace="http://www.w3.org/2005/08/addressing"/>
					<sp:Header Name="Action" Namespace="http://www.w3.org/2005/08/addressing"/>
				</sp:SignedParts>
				<sp:SignedElements>
					<sp:XPath>/*[namespace-uri()='http://schemas.xmlsoap.org/soap/envelope/' and local-name()='Envelope']/*[namespace-uri()='http://schemas.xmlsoap.org/soap/envelope/' and local-name()='Header']/*[namespace-uri()='http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd' and local-name()='Security']/*[namespace-uri()='http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd' and local-name()='Timestamp']</sp:XPath>
					<sp:XPath>/*[namespace-uri()='http://www.w3.org/2003/05/soap-envelope' and local-name()='Envelope']/*[namespace-uri()='http://www.w3.org/2003/05/soap-envelope' and local-name()='Header']/*[namespace-uri()='http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-secext-1.0.xsd' and local-name()='Security']/*[namespace-uri()='http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd' and local-name()='Timestamp']</sp:XPath>
				</sp:SignedElements>
			</wsp:All>
		</wsp:ExactlyOne>
	</wsp:Policy>
</wsdl:definitions>
